 html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
@media (max-width:767px) {
    .me-img{
        display: none;
    }
    
}
@media (min-width:770px) and (max-width:1100px) {
    .me-img{
        display: inline-flex;
        object-fit: contain;
    }
    
}
    .me-img {
        width: 65%;
        height: 670px;
        object-fit: cover;
        /* border-radius: 34% 54% 47% 53% / 69% 31% 69% 31%  ; */
    }

    .me-img2 {
        object-fit: cover;
        width: 100%;
        height: 600px;

    }

    .gridrow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .gridcol {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .gridimg {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .gridcol1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gridcol6 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .contactform {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .contextarea {
        width: 100%;
        height: 100px;
    }

    .contactbtn {

        width: 100%;
    }